.Explore{
    background-color: black;
}

.Explore .Exploree{
    background-color: black;
    padding-bottom: 5rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.Explore h1{
    color: white;
    margin-top: 0;
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 625;
    /* margin-left: 2.8rem; */
}

.Explore .nft_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}